// colors
$grey: #dddddd;
$brand-primary: #5b4681;
$light-gray: #f9f9f9;
$dark-gray: #777777;

//spacing
$space: 1.4rem;
$site-max-width: 50rem;

// font sizes
$base-font-size: 1.4rem;
$large-font-size:1.8rem;

// form inputs
$input-border: $grey;
$input-spacing: 1rem;

// boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;

// buttons
$button-bg: $brand-primary;
$button-color: white;
$button-pill-color: $brand-primary;
$button-secondary-bg: $light-gray;
$button-secondary-color: $dark-gray;
$button-secondary-border-color: $grey;
  
//header
 $header-bg: $brand-primary;
 $header-color: white;

 //item
 $item-bg: $light-gray;
 $item-border-color: darken( $item-bg, 8%);
 $item-text-color: $dark-gray;